@import url("https://fonts.googleapis.com/css2?family=Hind&family=Noto+Sans&display=swap");
* {
  background-color: #fefdf8;
  margin: 0;
  padding: 0;
  font-family: "noto sans", "sans-serif";
  color: #394166;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 80000px;
}

#logoImg {
  height: 100px;
  width: 100px;
  margin: 20px;
}

#login {
  width: 150px;
  height: 60px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  font-family: "noto sans", "sans-serif";
  font-size: 30px;
  border-color: #394166;
}

h1 {
  text-align: center;
}

#first {
  color: #1ab9f1;
  padding: 30px;
  font-size: 50px;
  font-weight: 7000px;
}

#phone {
  display: flex;
  justify-content: center;
  padding: 80px;
  height: 90vh;
}

#second {
  padding: 30px;
  font-size: 40px;
  font-weight: 2000px;
}

#third {
  color: #1ab9f1;
  padding: 30px;
  font-size: 40px;
  font-weight: 2000px;
}

#fourth {
  padding: 30px;
  font-size: 30px;
  font-weight: 100px;
}

#dadvice,
#signup {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: #394166;
  border-radius: 5px;
  font-family: "noto sans", "sans-serif";
  font-size: 30px;
}

#dad,
#sign {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#fifth {
  padding: 30px;
}

#sixth,
#seventh,
#eigth,
#ninth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#foot {
  width: 100vw;
  height: 20px;
  color: #394166;
  font-size: 25px;
  background-color: #fffcdd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}